{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <div class="container">
   <div class="item">
     <iframe width="600" height="480" src="https://d000d.com/e/fp4qduhw31wo" scrolling="no" frameborder="0" allowfullscreen="true"></iframe>
   </div>
   <div class="item">
     <iframe width="600" height="480" src="https://d000d.com/e/fp4qduhw31wo" scrolling="no" frameborder="0" allowfullscreen="true"></iframe>
   </div>
   <div class="item">
     <iframe width="600" height="480" src="https://d000d.com/e/fp4qduhw31wo" scrolling="no" frameborder="0" allowfullscreen="true"></iframe>
   </div>
   <div class="item">
     <iframe width="600" height="480" src="https://d000d.com/e/fp4qduhw31wo" scrolling="no" frameborder="0" allowfullscreen="true"></iframe>
   </div>
 </div>
  {{ range .Pages }}
  
          
  {{ end }}
{{ end }}
